<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ProjetJEE</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Test</display-name>
    <servlet-name>Test</servlet-name>
    <servlet-class>test.Test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test</servlet-name>
    <url-pattern>/Test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthentificationServlet</display-name>
    <servlet-name>AuthentificationServlet</servlet-name>
    <servlet-class>Presentation.controllers.AuthentificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthentificationServlet</servlet-name>
    <url-pattern>/AuthentificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>authentificationMetier</display-name>
    <servlet-name>authentificationMetier</servlet-name>
    <servlet-class>Metier.authentificationMetier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>authentificationMetier</servlet-name>
    <url-pattern>/authentificationMetier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>Presentation.controllers.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>projetServlet</display-name>
    <servlet-name>projetServlet</servlet-name>
    <servlet-class>Presentation.controllers.Projet.projetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>projetServlet</servlet-name>
    <url-pattern>/projetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileDirecteur</display-name>
    <servlet-name>ProfileDirecteur</servlet-name>
    <servlet-class>Presentation.controllers.Projet.ProfileDirecteur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileDirecteur</servlet-name>
    <url-pattern>/ProfileDirecteur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeStatistic</display-name>
    <servlet-name>HomeStatistic</servlet-name>
    <servlet-class>Presentation.controllers.Projet.HomeStatistic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeStatistic</servlet-name>
    <url-pattern>/HomeStatistic</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chefProjetController</display-name>
    <servlet-name>chefProjetController</servlet-name>
    <servlet-class>Presentation.controllers.ChefProjetController.chefProjetController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chefProjetController</servlet-name>
    <url-pattern>/chefProjetController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DevelopperProfile</display-name>
    <servlet-name>DevelopperProfile</servlet-name>
    <servlet-class>Presentation.controllers.Developer.DevelopperProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DevelopperProfile</servlet-name>
    <url-pattern>/DevelopperProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DevelopperProjects</display-name>
    <servlet-name>DevelopperProjects</servlet-name>
    <servlet-class>Presentation.controllers.Developer.DevelopperProjects</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DevelopperProjects</servlet-name>
    <url-pattern>/DevelopperProjects</url-pattern>
  </servlet-mapping>
</web-app>